{% extends "layout.html" %}

{% block title %}
    Roster
{% endblock %}

{% block main %}

    <div>
        <h1>
            {{ team_name }} Roster
        </h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Height</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.team_name }}</td>
                <td>{{ user.team_city }}, {{ user.team_state}}</td>
                <td>{{ user.conference }}</td>
                <td>{{ user.region }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}