{% extends "layout.html" %}

{% block title %}
    Roster
{% endblock %}

{% block main %}

    <div>
        <h1>
            {{ team_name }} Roster
        </h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Roster #</th>
                <th scope="col">Position</th>
                <th scope="col">Add/Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for player in roster %}
            <tr>
                <td>{{ player.roster_name }}</td>
                <td>{{ player.roster_number }}</td>
                <td>{{ player.roster_position }}</td>
                <td>
                    <form action="/remove_roster" method="post">
                         <input type="hidden" name="player_id" value="{{ player.player_id }}">
                        <button class="btn btn-primary" type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>

            </tr>
                <form action="/roster" method="post">
                    <tr>
                        <td>
                            <div class="form-group">
                                <input autocomplete="off" autofocus class="form-control" name="roster_name" placeholder="Player Name" type="text"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control" name="roster_number" placeholder="#" type="number"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select name="roster_position">
                                    {% for position in positions %}
                                    <option value="{{ position.position }}">{{position.position}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-primary" type="submit">Add</button>
                        </td>
                    </tr>
                </form>
        </tbody>
    </table>

{% endblock %}