{% extends "layout.html" %}

{% block title %}
    Teams
{% endblock %}

{% block main %}

    <table>
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Location</th>
                <th>Conference</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in user_stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ city }}, {{ state}}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.value }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                <td>{{ user_cash }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}