{% extends "layout.html" %}

{% block title %}
    Roster
{% endblock %}

{% block main %}

    <div>
        <h1>
            {{ team_name }} Roster
        </h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Roster #</th>
                <th scope="col">Position</th>
            </tr>
        </thead>
        <tbody>
            {% for player in roster %}
            <tr>
                <td>{{ player.roster_name }}</td>
                <td>{{ player.roster_number }}</td>
                <td>{{ player.roster_position }}</td>
            </tr>
            {% endfor %}
            <tr>
        </tbody>
    </table>

{% endblock %}