{% extends "layout.html" %}

{% block title %}
    Teams
{% endblock %}

{% block main %}

    <table>
        <thead>
            <tr>
                <th>Team</th>
                <th>Location</th>
                <th>Conference</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.team_name }}</td>
                <td>{{ user.team_city }}, {{ user.team_state}}</td>
                <td>{{ user.conference }}</td>
                <td>{{ user.region }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}